svg {
  fill: $light-textColor-main;
}
.generalBtn {
  display: inline-block;
  min-width: 150px;
  height: 30px;
  color: $light-textColor-main;
  background-color: $dark-body;
  border-radius: 24px;
  text-decoration: none;
  outline: none;
  border: none;

  :hover {
    cursor: pointer;
    color: $dark-textColor-sec;
  }
}

.generalBtn-circle {
  border-radius: 30px;
  min-width: 40px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    width: 24px !important;
  }
}
.searchBox {
  svg {
    width: 36px;
    height: 36px;
  }
}
.generalBtn-primary {
  background-color: $btn-back-colors;
}
.navigation {
  @include dFlex-row-center;

  & a {
    @extend .generalBtn;
    @extend .generalBtn-primary;
    margin: 4px 8px;
    text-align: center;
    padding: 2px 4px;
    width: 100px;
    min-width: 100px;

    &:hover {
      font-weight: 600;
    }
  }
}
.navigation_btn {
  svg {
    width: 16px;
    height: 16px;
  }
}
.message {
  @include dFlex-col-center;
  padding: 100px;
  font-size: 1.4rem;
  color: $light-textColor-main;

  & img {
    width: 50px;
    height: auto;
  }

  & span {
    text-align: center;
  }
}

.error {
  @extend .message;
  color: $danger;
}

.bookmarks-btn:hover + .bookmarks,
.bookmarks:hover {
  visibility: visible;
}
.bookmarks {
  position: absolute;
  top: 95px;
  background-color: $dark-body;
  padding: 8px;
  width: 450px;
  border-radius: 4px;
  color: #fff;
  visibility: hidden;
}

.bookmarks_item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 4px;
  margin: 4px auto;
  background: $details-back;

  &:hover {
    cursor: pointer;
  }
}
.bookmarks_image {
  border-radius: 100%;
  width: 60px;
  height: 60px;
  overflow: hidden;

  & img {
    max-height: 100%;
  }
}
.bookmarks_titles {
  display: flex;
  flex-direction: column;

  & p {
    margin-bottom: 0;
  }
  & span {
    font-size: 0.8rem;
  }
}
