$dark-body: #1d1f26;
$dark-container: #353842;
$light-textColor-main: #ffff;
$dark-textColor-sec: #8e94a4;
$dark-textColor-main: #1d1f26;
$details-back: #4b4f59;
$btn-back-colors: #e60023;
$danger: #df4848;
