@mixin dFlex-col-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-flow: column wrap;
}
@mixin dFlex-col-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-flow: column wrap;
}
@mixin dFlex-row-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

@mixin dFlex-row-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-flow: row wrap;
}
@mixin dFlex-row-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row wrap;
}
